{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/todos.css' %}">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href='{% url "todo_list_list" %}'>Home</a></li>
        <li><a href='{% url "todo_list_create" %}'>Create a new list</a></li>
        <li><a href='{% url "todo_item_create" %}'>Create a new item</a></li>
        <li><a href='{% url "todo_item_search" %}'>Search a todo item</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>
        Are you sure?
      </h1>
      <form method='POST'>
        {% csrf_token %}
        <button>Delete</button>
      </form>
    </div>
  </main>
</body>
</html>