{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ todo_item.name }}</title>
  <link rel="stylesheet" href="{% static 'css/todos.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href='{% url "todo_list_list" %}'>Home</a></li>
        <li><a href='{% url "todo_list_create" %}'>Create a new list</a></li>
        <li><a href='{% url "todo_item_create" %}'>Create a new item</a></li>
        <li><a href='{% url "todo_item_search" %}'>Search a todo item</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>{{ todo_item.name }}</h1>
      <p><a href='{% url "todo_list_update" todo_item.id %}'>Edit</a></p>
      <p><a href='{% url "todo_list_delete" todo_item.id %}'>Delete</a></p>
      <h2>Upcoming Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in upcoming_tasks %}
          <tr>
            <td><a href='{% url "todo_item_update" todo_id=task.id %}'>{{ task.task }}</a></td>
            <td>{{ task.due_date|date:"M j, Y" }}</td>
            <td><a href="{% url 'todo_item_delete' todo_id=task.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Completed Tasks</h2>
      <ul>
        {% for task in completed_tasks %}
        <li>{{ task.task }}</li>
        {% endfor %}
      </ul>
    </div>
  </main>
</body>
</html>
