{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo item search</title>
  <link rel="stylesheet" href="{% static 'css/todos.css' %}">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href='{% url "todo_list_list" %}'>Home</a></li>
        <li><a href='{% url "todo_list_create" %}'>Create a new list</a></li>
        <li><a href='{% url "todo_item_create" %}'>Create a new item</a></li>
        <li><a href='{% url "todo_item_search" %}'>Search a todo item</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
    <h1>Todo Item Search</h1>
    <form method="GET" action="{% url 'todo_item_search' %}">
        <input type="text" name="q" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    {% if results %}
        <h2>Search Results</h2>
        <ul>
            {% for todo_item in results %}
                <li>{{ todo_item.task }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
      </div>
    </main>
</body>
</html>
