{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/todos.css' %}">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href='{% url "todo_list_list" %}'>Home</a></li>
        <li><a href='{% url "todo_list_create" %}'>Create a new list</a></li>
        <li><a href='{% url "todo_item_create" %}'>Create a new item</a></li>
        <li><a href='{% url "todo_item_search" %}'>Search a todo item</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>Create a new item</h1>
       <form method='POST'>
        {% csrf_token %}
        <div>
        <label for='task'>Task:</label>
        <input id='task' type='text' name='task' value='{{ todo_item.task }}'>
        </div>
        <div>
        <label for='date'>Due date:</label>
        {% if todo_item.due_date == None %}
            <input id='date' type='text' name='due_date'>
        {% else %}
            <input id='date' type='text' name='due_date' value='{{ todo_item.due_date }}'>
        {% endif %}

        </div>
        <div>
        <label for='completed'>Is completed:</label>
        <input id='completed' type='checkbox' name='is_completed' value='{{ todo_item.is_completed }}'>
        </div>
        <div>
        <label for="list">List:</label>
        <select id="list" name="list">
            {% for todo in todos %}
            <option value="{{ todo.id }}">{{ todo.name }}</option>
            {% endfor %}
        </select>
        </div>  
        <button>Update</button>
      </form>
    </div>
  </main>
</body>
</html>