{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/todos.css' %}">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href='{% url "todo_list_list" %}'>Home</a></li>
        <li><a href='{% url "todo_list_create" %}'>Create a new list</a></li>
        <li><a href='{% url "todo_item_create" %}'>Create a new item</a></li>
        <li><a href='{% url "todo_item_search" %}'>Search a todo item</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>My Lists</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos%}
          <tr>
            <td><a href='{% url "todo_list_detail" todo.id %}'>{{todo.name}}</a></td>
            <td>{{ todo.items.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>