header nav ul {
  list-style: none; 
  text-align: center; 
 
}

header nav ul li a {
  text-decoration: none;
  color: inherit; 
}


header nav ul li {
  display: inline-block; 
  margin-right: 20px; 
  
}

header nav ul li:last-child {
  margin-right: 0; 
  
}



table {
  width: 100%; 
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}


tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e2e2e2;
}

a {
  text-decoration: none;
  color: #007bff; 
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  margin-bottom: 5px; 
}

li:hover {
  background-color: #f0f0f0; 
}

a {
  text-decoration: none; 
  color: #007bff; 
}

a:hover {
  text-decoration: underline; 
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  margin: auto;
}

form{
  width: 300px;
  left: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='checkbox'],
select {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
